html {
	min-height: 100%;
	position: relative;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #bdcad9;
	background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}

.nav-container {
	font-size: 1.25rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0rem;
	margin: 0rem 7rem;
	border-bottom: 1px solid #52575c;
}

.nav-item,
.nav-list {
	display: inline;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-list {
	flex: 1;
	max-width: 50%;
	display: flex;
	justify-content: space-evenly;
}

.nav-log-in,
.nav-home {
	padding: 0rem 3rem;
}

a:visited {
	text-decoration: none;
	color: black;
}

a {
	color: #2a3035;
	text-decoration: none;
}

a:hover {
	font-weight: 900;
	/* color: black; */
}

/* 
BELOW IS THE CSS FOR THE DRAG AND DROP PORTION:
*/

.r-characters {
	display: flex;
	margin: 2rem 7rem;
	padding: 0.5rem;
	/* border: 2px solid #98a1a8; */
	/* background-color: #bfc5c9; */
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.r-container {
	margin: 0.25rem;
	width: 5rem;
	background-color: #606e79;
}

.r-container-correct {
	margin: 0.25rem;
	width: 5rem;
	background-color: #90be6d;
	background: linear-gradient(-45deg, #b5d8f0, #7dbae5, #2d8fd5);
}

.r-container-ya {
	margin: 0.25rem;
	width: 5rem;
	height: 7.5rem;
	background-color: #606e79;
}

.r-container-correct-ya {
	margin: 0.25rem;
	width: 5rem;
	height: 7.5rem;
	background: linear-gradient(-45deg, #b5d8f0, #7dbae5, #2d8fd5);
}

.r-container-wa {
	margin: 0.25rem;
	width: 5rem;
	height: 5rem;
	background-color: #606e79;
}

.r-container-correct-wa {
	margin: 0.25rem;
	width: 5rem;
	height: 5rem;
	background: linear-gradient(-45deg, #b5d8f0, #7dbae5, #2d8fd5);
}
.r-container-n {
	margin: 0.25rem;
	width: 5rem;
	height: 2.5rem;
	background-color: #606e79;
}

.r-container-correct-n {
	margin: 0.25rem;
	height: 2.5rem;
	background: linear-gradient(-45deg, #b5d8f0, #7dbae5, #2d8fd5);
}

div {
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem;
	justify-content: center;
}

.r-char-dropzone {
	width: 1.5rem;
	height: 1.5rem;
	background-color: #eceeef;
}

.r-char {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 16px;
	font-family: 'RocknRoll One', sans-serif;
	color: #f9f9fa;
	display: flex;
	align-items: center;
}

.j-characters {
	display: flex;
	/* background-color: #eceeef; */
	margin: 2rem 7rem;
	padding: 0.5rem;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid #333333;
	border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}

.j-char-img {
	height: 1.5rem;
	width: 1.5rem;
	cursor: pointer;
	/* background-color: red; */
}

#j-characters > div {
	background-color: transparent;
}
